<div>
  <ul>
    {{#each clients}}
      <li>
        {{id}}:

        {{#if ready}}
          Ready
        {{else}}
          Not Ready
        {{/if}}
      </li>
    {{/each}}
  </ul>
  <hr>

  <label><input type="checkbox" name="readyCheck"> Ready</label>

  <hr>

  <div name="options"></div>
</div>
